@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, button, textarea{
  font-family: 'Titillium Web', sans-serif;
}

a{
  text-decoration: none;
}