@mixin flex($justify-content, $align-items){
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin mq($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}