@import 'global.scss';
@import 'variables.scss';
@import 'mixins.scss';

.body-overflow{
    overflow: hidden;
}

.header{
    background: url('../images/hero.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
    color: $white;
    padding: 20px 15px;
}

.header__navigation{
    @include flex(space-between, center);
}

.header__logo{
    @include flex(center, center);
    img{
        width: 36px;
        margin-right: 5px;
    }

    span{
        color: $red;
    }
}

.header__hamburger{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    position: fixed;
    right: 15px;
    z-index: 3;
}

.header__line-gray, 
.header__line-gray::before, 
.header__line-gray::after{
    background-color: $light-gray !important;
}

.header__line, 
.header__line::before, 
.header__line::after{
    width: 100%;
    height: 2px;
    background-color: $white;
    display: block;
    content: '';
    transition: transform .2s ease-in-out, background-color .2s ease-in-out;
}

.header__line{
    position: relative;
}

.header__line::before{
    position: absolute;
    top: 7.5px;
}

.header__line::after{
    position: absolute;
    bottom: 8px;
}

.header__line-active{
    background-color: transparent !important;
}

.header__line-active::before{
    transform: translateY(-8px) rotate(45deg);
}

.header__line-active::after{
    transform: translateY(8px) rotate(-45deg);
}

.header__menu{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: $dark-gray;
    opacity: 0;
    animation: toggleMenu .5s ease-in-out forwards;
    z-index: 2;
    @include flex(center, center);

    ul{
        list-style: none;
        text-align: center;
    }

    li{
        margin: 30px 0;
        font-size: 20px;
        font-weight: 700;
    }

    a{
        color: $white;
    }
}

.header__menu-off{
    display: none;
}

.header__hero{
    @include flex(center, center);
    flex-direction: column;
    text-align: center;
    height: calc(100vh - 100px);
}

.header__title{
    font-size: 50px;
    font-weight: 400;
    line-height: 1.2;
}

.header__paragraph{
    margin: 25px 0;
    line-height: 1.7;
}

.button{
    background-color: $red;
    border: none;
    width: 125px;
    height: 35px;
    color: $white;
    cursor: pointer;
}

.about{
    max-width: 1200px;
    margin: 25px auto;
}

.about__icons{
    @include flex(center, center);
    flex-wrap: wrap;
}

.about__icon{
    text-align: center;
    padding: 20px;

    h2{
        color: $red;
        font-size: 50px;
    }

    img{
        width: 84px;
    }

    p{
        color: $gray;
    }
}

.about__content{
    padding: 0 15px;

    h2{
        color: $red;
        position: relative;
        font-size: 36px;

        &::after{
            width: 100%;
            height: 7.5px;
            background-color: $red;
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
        }
    }

    p{
        margin: 15px 0 15px;
    }

    img{
        width: 100%;
        margin-top: 25px;
    }
}

.services{
    width: 100%;
    background-color: $dark-gray;
    margin-top: 25px;
}

.services__icons{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 1200px;
    background-color: $dark-gray;
    margin: 25px 0;
    margin: 0 auto;
}

.services__icon{
    text-align: center;
    color: $white;
    padding: 25px;

    h2{
        margin: 5px 0;
    }

    img{
        height: 120px;
    }

    p{
        color:$light-gray;
    }
}

.services__icon:nth-child(even){
    background-color: $gray;
}

.contact__icons{
    @include flex(center, center);
    flex-wrap: wrap;
}

.contact__icon{
    text-align: center;
    position: relative;
    width: 250px;
    padding: 25px;

    i{
        font-size: 50px;
        color: $red;
        margin-bottom: 15px;
    }

    p{
        font-size: 18px;
    }

    &:not(:last-child)::after{
        background-color: #d3d3d3;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        content: '';
    }
}

.contact{
    padding: 15px;
    max-width: 1200px;
    margin: 0 auto;

    form{
        margin: 10px 0;
        text-align: right;
    }

    p{
        font-size: 18px;
    }

    input, textarea{
        width: 100%;
        border: 1px solid $light-gray;
        padding: 5px;
    }

    input{
        height: 35px;
    }

    textarea{
        resize: none;
        height: 150px;
    }

    input:focus, textarea:focus{
        outline: none;
        border-color: $gray;
    }
}

.form-active{
    border-color: $red !important;
}

.form__paragraph-text{
    margin-top: -5px;
}

.form__paragraph-email, .form__paragraph-text{
    font-size: 14px !important;
    color: $red;
    margin-bottom: 5px;
}

.contact__paragraph{
    margin: 10px 0 15px;
    @include flex(flex-start, center);

    i{
        color: $red;
        margin-right: 5px;
    }
}

.footer{
    background-color: $dark-gray;
    color: $light-gray;
    text-align: center;
    padding: 10px;
    font-size: 14px;

    a{
        color: $white;
        font-size: 20px;
        margin: 0 5px;
    }
}

@keyframes toggleMenu {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

@include mq(530px){
    .contact__icons{
        @include flex(space-evenly, flex-start);
    }

    .contact__icon{
        width: auto;
        &::after{
            display: none;
        }
    }
}

@include mq(768px){
    .header__hamburger{
        display: none;
    }

    .header__menu{
        display: block;
        animation: none;
        opacity: 1;
        height: auto;
        background-color: transparent;
        position: inherit;
    }

    .header__list{
        @include flex(flex-end,center);

        li{
            margin: 0 0 0 10px;
            font-size: 16px;
            position: relative;
            padding: 0 10px;

            &::after{
                width: 100%;
                height: 3px;
                background-color: $red;
                content: '';
                position: absolute;
                bottom: -10px;
                left: 0;
                opacity: 0;
                transition: opacity .2s ease-in-out;
            }

            &:hover::after{
                opacity: 1;
            }
        }        
    }

    .header__hero{
        padding: 50px;
    }

    .about__icons{
        @include flex(space-evenly, center);
    }

    .about__content{
        @include flex(center, flex-start);
        font-size: 18px;

        h2:after{
            width: 300px;
        }
    }

    .about__text, .about__image{
        padding: 10px;
        width: 50%;
    }

    .contact__form{
        @include flex(center, flex-start);

        div, form{
            width: 50%;
        }
    }

    .contact__icons{
        margin: 25px 0;
    }
}

@include mq(1000px){
    .header{
        height: 794px;
    }

    .header__hero{
        height: calc(100% - 100px);
        padding: 200px;
    }

    .about__icons{
        margin-top: 25px;
    }

    .services__icons{
        grid-template-columns: repeat(auto-fit, minmax(333px, 1fr));
    }

    .services__icon{
        padding: 50px;
    }

    .contact{
        input{
            height: 45px;
        }

        textarea{
            height: 200px;
        }
    }

    .contact__paragraph{
        margin-top: 20px;
    }

    .about__content{
        padding: 0;
        margin: 25px 0;
        @include flex(center, flex-start);
        font-size: 18px;

        h2:after{
            width: 300px;
        }

        div{
            padding: 10px;
        }
    }

    .about__text{
        width: 64%;
    }

    .about__image{
        width: 36%;
        text-align: right;
        img{
            height: 350px;
            width: auto;
        }
    }
}

@include mq(1300px){
    .header__home{
        width: 1300px;
        margin: 0 auto;
        height: 100%;
    }
}